# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.gitignore
src/main/java/com/tramp/wechat4j/dao/
src/main/java/com/tramp/wechat4j/entity/
src/main/java/com/tramp/wechat4j/interceptor/
src/main/java/com/tramp/wechat4j/service/
src/main/java/com/tramp/wechat4j/utils/
src/main/java/com/tramp/wechat4j/wechat/contants/
src/main/java/com/tramp/wechat4j/wechat/service/
src/test/
target/
