<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.3//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <!--<typeAlias type="com.tramp.common.cnd.Cnd" alias="Cnd"></typeAlias>
        <typeAlias type="com.meimai.common.cnd.UpdateChain" alias="UpdateChain" />-->
        <package name="com.tramp.wechat4j.entity"></package>
    </typeAliases>
    <!--<plugins>
        <plugin interceptor="com.tramp.wechat4j.interceptor.PageInterceptor" />
    </plugins>-->
    <mappers>
    </mappers>

</configuration>